* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box
}

body {
    font-family: Trebuchet MS, Helvetica, sans-serif;
    background: #000
}

input {
    background: grey;
    font-size: 18px
}

form {
    display: inline-block
}

.centered {
    text-align: center
}

#pizzaSize {
    font-weight: 800
}

.mover {
    position: fixed;
    width: 256px;
    z-index: -1
}

.randomPizzaContainer {
    float: left;
    display: flex
}

.randomPizzaContainer:after,
.randomPizzaContainerLarge:after,
.randomPizzaContainerSmall:after {
    content: "";
    display: table;
    clear: both
}

.randomPizzaContainerSmall {
    float: left;
    display: flex;
    width: 25%;
    height: 325px
}

.randomPizzaContainerLarge {
    float: left;
    display: flex;
    width: 50%;
    height: 325px
}

.randomPizzaContainer {
    width: 33%;
    height: 325px
}

.container {
    background-color: rgba(240, 60, 60, .8)
}